<footer>
  <div class="share-links">
    <ul>
      <li><a href="#" class="drupal"><i class="icon-drupal"></i><span>Drupal</span></a></li>
      <li><a href="#" class="linkedin"><i class="icon-linkedin"></i><span>LinkedIn</span></a></li>
      <li><a href="#" class="twitter"><i class="icon-twitter"></i><span>Twitter</span></a></li>
      <li><a href="#" class="rss"><i class="icon-rss"></i><span>RSS</span></a></li>
    </ul>
  </div>
  <div class="copyright">&copy;2012 by Ben Koether</div>
</footer>
